$main-color: hsl(231, 69%, 60%);
$secondary-color: hsl(0, 94%, 66%);
$text-color: hsl(229, 8%, 60%);
$background-footer: hsl(229, 31%, 21%);
$layout-breakpoint-small: 992px;
$layout-breakpoint-meduim: 960px;